<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#101010">
    <title>@ViewBag.Title - Deployments</title>
    @Styles.Render("~/Content/css")
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Exo+2:600' rel='stylesheet' type='text/css'>
    <link rel="manifest" href="/manifest.json">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                <a class="navbar-brand" href="~/"><i class="glyphicon glyphicon-earphone"></i> DTMF Deployments</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div class="nav navbar-nav navbar-right">
                        <a href="@Url.Action("logout", "authentication")" class="navbar-text" title="Logout">Running as @Utilities.CurrentUser <span class="glyphicon glyphicon-log-out"></span></a>
                    </div>
                }

            </div><!--/.nav-collapse -->
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>


    <footer id="installPrompter" class="footer navbar-fixed-bottom" style="background-color: #101010; display: none">
        @RenderSection("footer", required: false)
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        window.addEventListener('offline', function (e) { console.log('offline'); });
        window.addEventListener('online', function (e) { console.log('online'); });

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js?v2', {
                scope: './'
            }).then(function (sw) {
                console.log("registration worked!");
            }).catch(function () {
                console.warn("registration failed!");
            });
        }
    </script>
</body>
</html>
